:root {
  --black-color: #202123;
  --white-color: #f1f1f1;
  --bg-primary-color: var(--black-color);
  --text-primary-color: var(--white-color);
  --header-height: 70px;
  --nav-width: 240px;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--black-text-color);
}
button {
  border: none;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  color: var(--text-primary-color);
  background-color:var(--bg-primary-color);
}

/* container */

.container {
  display: flex;
}

/* nav */
.nav {
  border-right: 1px solid #e3e3e3;
  width: var(--nav-width);
  height: 100vh;
  padding: 1rem;
  position: fixed;
  z-index: 20;
  background-color: var(--bg-primary-color);
}

.nav__title {
  font-size: 2.4rem;
  font-weight: bold;
}

.navItem {
  display: flex;
  padding: 1.6rem;
  gap: 2rem;
  align-items: center;
  border-radius: 10px;
  color: var(--white-color);
}
.navItem:hover {
  background-color: #d5d5d561;
}
.navItem__icon {
  font-size: 2.4rem;
}
.navItem__name {
  font-size: 2rem;
}
.nav.hide {
  display: none;
}
.header {
  border:  1px solid greenyellow;
  height: var(--header-height);
  position: fixed;
  width: 100%;
  background-color: var(--bg-primary-color);
  z-index: 10;
}
.header_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header__title {
  display: flex;
  align-items: center;
}
.navButton {
  margin-right: 12px;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 2.4rem;
}

.content {
  margin-top: var(--header-height);
  width: 100%;
  border: 1px solid indianred;
  padding: 2rem;
}
.main {
  width: calc(100% - var(--nav-width));
  flex: 1;
  flex-shrink: 1;
  transition: all 1s ease-in-out;
}



.banner {
  width: 100%;
}
.section {
}

.genreList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.genreList__item {
  border: 1px solid var(--white-color);
  display: inline-block;
  padding: 0.4rem 1.6rem;
  border-radius: 10px;

}