/* swiper */
@media (max-width:600px) {
  :root{
    --swiper-navigation-size: 30px;
  }
}

.swiper_wrapper {
  width: 100%;
  height: 500px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  overflow: hidden;
  text-align: center;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide.posterSlide {
  aspect-ratio: 2/3;
}

.swiper-button-next, .swiper-button-prev {
  height: 100%;
  width: 40px;
  top: 0;
  margin: 0;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #00000040;
}

@media (max-width: 600px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}

.bannerSwiper .swiper-slide img {
  opacity: 0.3;
}

@media (max-width: 600px) {
  .bannerSwiper .swiper-slide img {
    height: 400px;
  }
}

.bannerSwiper .swiper-slide-active img {
  opacity: 1;
}

.bannerSwiper .swiper-slide-active .bannerCard__title {
  display: block;
}